<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>


        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='favicon/favicon-96x96.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon/favicon-16x16.png') }}">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">

        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/design.css') }}">
        <script type="module" src="{{ url_for('static', filename='js/main.js') }}" defer></script>
    </head>
    <body>
    <header>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="collapse navbar-collapse py-3" id="navbarsExampleDefault">
      <div class="col-4">
    <ul class="navbar-nav mr-auto">
      {% if 'username' in session %}
        <li class="nav-item">
            <p style="color: whitesmoke; margin-top: 0.4em"><i class="fas fa-user"></i>{{username}}</p>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-dark" onclick="location.href='/logout'"><i class="fas fa-sign-out-alt"></i>Logout</button>
        </li>
        {% else %}
        <li class="nav-item">
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalLoginForm"><i class="fas fa-sign-in-alt"></i>Login</button>
        </li>
         <li class="nav-item">
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#modalRegisterForm"><i class="fas fa-user-plus"></i>Register</button>
        </li>
        {% endif %}
    </ul>
          </div>
  </div>
</nav>
</header>
        <h1>ProMan</h1>

        <button id="new_board_btn" data-toogle="modal" data-target="#myModal">New Board</button>


        <div class="board-container">


        </div>

        <!-- ADD BOARD MODAL-->
        <div class="modal" id="myModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button id="close_modal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              <div class="modal-body">
                  <form method="POST" id="boardModalForm" action="/add-board">
                      <label for="titleField">Title:</label><br>
                      <input id="titleField" type="text" placeholder="Title..." name="board_title">
                      <input id="submit_board" type="submit" value="Submit">
                  </form>
              </div>
            </div>

          </div>
        </div>
<!-- Add column modal-->
        <div class="modal" id="addColumnModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button id="close_column_modal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              <div class="modal-body">
                  <form method="POST" id="boardModalForm" action="/add-column">
                      <input type="hidden" name="boardId" id="boardId">
                      <label for="titleColField">Title:</label><br>
                      <input id="titleColField" type="text" placeholder="Title..." name="column_title">
                      <input id="submit_board" type="submit" value="Submit">
                  </form>
              </div>
            </div>
          </div>
        </div>

        <div class="modal" id="addCardModal" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button id="close_column_modal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
              <div class="modal-body">
                  <form method="POST" id="cardModalForm" action="/add-card">
                      <input type="hidden" name="boardId" id="card-boardId">
                      <label for="titleColField">Title:</label><br>
                      <input id="titleColField" type="text" placeholder="Title..." name="card_title">
                      <select name="card_status">
                        <option selected disabled>--Status--</option>
                        <option value="1">New</option>
                        <option value="2">In Progress</option>
                        <option value="3">Testing</option>
                        <option value="4">Done</option>
                      </select>
                      <select name="card_priority">
                        <option selected disabled>--Priority--</option>
                        <option value="0">0</option>
                        <option value="1">1</option>
                      </select>
                      <input id="submit_card" type="submit" value="Submit">
                  </form>
              </div>
            </div>
          </div>
        </div>
    <!-- LOGIN MODAL -->
    <div class="modal fade" style="display: none" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button id="log_close_btn" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="text" id="defaultForm-email" class="form-control validate" name="uname">
          <label data-error="wrong" data-success="right" for="defaultForm-email">Your username</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="defaultForm-pass" class="form-control validate" name="psw">
          <label data-error="wrong" data-success="right" for="defaultForm-pass">Your password</label>
        </div>
            <p style="color: #9C1A1C; display: none" id="login_error_message">Incorrect username or/and password</p>

      <div class="modal-footer d-flex justify-content-center">
        <button id="login_btn" class="btn btn-default">Login</button>
      </div>
      </div>
    </div>
  </div>
</div>

    <!-- REGISTER MODAL -->
    <div class="modal fade" style="display: none" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
        <button id="reg_md_close" type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="/register" method="POST" id="reg_form">
      <div class="modal-body mx-3" id="pass_field">
        <div class="md-form mb-5">
          <i class="fas fa-user prefix grey-text"></i>
          <input type="text" id="orangeForm-name" class="form-control validate" name="username">
          <label data-error="wrong" data-success="right" for="orangeForm-name">Your name</label>
        </div>
        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" id="orangeForm-pass" class="form-control validate" name="psw">
          <label data-error="wrong" data-success="right" for="orangeForm-pass">Your password</label>
        </div>
        <p style="color: #9C1A1C; display: none" id="error_message">Username already exist</p>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button class="btn btn-deep-orange" id="reg_btn">Sign up</button>
      </div>

        </form>
    </div>
  </div>
</div>

    </body>
</html>